<div class="grid grid-cols-[1fr_6fr] gap-5">
  <div class="ms-5">
    <app-products-filter [size]="filterProducts.size" (productFilter)="onFilterChange($event)"></app-products-filter>
  </div>
  @if(products.length > 0) {
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      @for(product of products; track product.id) {
        <app-product-card [product]="product"></app-product-card>
      }
    </div>
  }@else if (loading) {
    <div class="flex w-full justify-center">
      <span class="loading loading-spinner loading-lg"></span>
    </div>
  } @else if(products.length === 0) {
    <div class="flex flex-col items-center justify-center">
      <div class="font-bold text-2xl">No results found</div>
      <div>Try to change your filters</div>
    </div>
  }
</div>
