<div class="border-2 border-gray-300 rounded-lg shadow-lg w-full sm:w-9/12 md:w-8/12 max-w-lg mx-auto p-8 bg-white">

    <form class="w-full space-y-4">
        <h1 class="text-3xl font-bold text-center text-gray-800">Reset Password</h1>
        <p class="text-sm text-gray-600 text-center">
            Enter your new password below to reset your account.
        </p>

        <!-- New Password -->
        <label class="form-control w-full">
            <span class="block text-sm font-medium text-gray-700">New Password</span>
            <input 
                type="password" 
                placeholder="Enter your new password"
                class="mt-1 input input-bordered w-full rounded-md border-gray-300 focus:outline-none" 
                formControlName="newPassword"
            />
        </label>

        <!-- Confirm New Password -->
        <label class="form-control w-full">
            <span class="block text-sm font-medium text-gray-700">Confirm New Password</span>
            <input 
                type="password" 
                placeholder="Confirm your new password"
                class="mt-1 input input-bordered w-full rounded-md border-gray-300 focus:outline-none" 
                formControlName="confirmPassword"
            />
        </label>

        <!-- Submit Button -->
        <button type="submit" class="mt-6 w-full py-3 text-white bg-primary hover:bg-primary-dark rounded-md shadow-lg transition">
            Reset Password
        </button>
    </form>

    <!-- Login Link -->
    <div class="mt-4 text-center">
        <p class="text-sm text-gray-600">
            Remembered your password? 
            <a routerLink="/auth/sign-in" class="text-primary font-semibold hover:underline">Login</a>
        </p>
    </div>

</div>
