<div class="w-full flex justify-between items-center">

    <div>
        <h1 class="text-2xl font-bold">Products</h1>
    </div>
    <div>  
        <button class="btn btn-primary me-5" routerLink="/admin/products/create">
            Create Product
        </button>
        <button class="btn btn-primary" routerLink="/admin/categories/create">
            Create Category
        </button>
    </div>
</div>
<div class="border-t w-full border-solid border-gray-300 mt-3 mb-5"></div>
@if(!error && products.length > 0) {
    <div class="overflow-x-auto border border-gray-300 rounded-md">
        <table class="table table-lg table-zebra">
          <thead class="border-gray-300">
          <tr class="border-gray-300">
            <th></th>
            <th class="min-w-40">Name</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Price</th>
            <th>Nb in stock</th>
            <th>Category</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody class="border-0">
            @for (product of products; track product.id; let i = $index) {
              <tr class="border-gray-300">
                <th>{{ i + 1 }}</th>
                <td class="max-w-20 overflow-ellipsis whitespace-nowrap overflow-hidden">
                  <a class="link" [routerLink]="['/product', product.id]">{{product.name}}</a>
                </td>
                <td>{{product.brand}}</td>
                <td>
                  <div class="h-5 w-5 rounded-full" [ngStyle]="{'background-color': product.color}"></div>
                </td>
                <td>{{product.price}}</td>
                <td>{{product.stock}}</td>
                <td>{{product.category.name}}</td>
                <td>
                  <div (click)="deleteProduct(product.id!)" class="btn btn-secondary btn-sm">
                    Delete
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
    </div>
} @else if(loading) {
    <div class="flex w-full justify-center">
        <span class="loading loading-spinner loading-lg"></span>
    </div>
} @else if(error) {
    <div class="alert alert-error">
        <span>Error! Failed to load products.</span>
    </div>
} @else if(products.length === 0) {
    <div role="alert" class="alert alert-info">
        <fa-icon [icon]="['fas', 'circle-exclamation']" size="2x"></fa-icon>
        <span>No product created yet.</span>
    </div>
}