<div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <a class="btn btn-ghost text-xl">
          <div class="border-1 bg-secondary logo p-2 rounded-xl" routerLink="/">Stylemart</div>
        </a>
      </div>
    </div>
  
    <div class="navbar-center flex">
      <!-- These are being hidden on small screen -->
      <div class="menu menu-sm sm:menu-lg menu-horizontal px-1 hidden lg:flex">
        <li><a href="/">Home</a></li>
        <li>
          <details #productsMenu>
            <summary>Products</summary>
            <ul class="z-30">
              @if(categories.length > 0) {
                @for (category of categories; track category.id) {
                  <li>
                    <a 
                      [routerLink]="['products']"
                      [queryParams]="{categoryId: category.id}"
                      (click)="closeMenu(productsMenu)" 
                      (clickOutside)="closeMenu(productsMenu)"
                    >
                      {{ category.name }}
                    </a>
                  </li>
                }
              }
            </ul>
          </details>
        </li>
        @if(currentUser?.role == "ADMIN") {
          <li>
            <details #adminMenu >
              <summary>Admin</summary>
              <ul class="z-30">
                <li><a routerLink="admin/categories/list" (clickOutside)="closeMenu(adminMenu)" (click)="closeMenu(adminMenu)">Categories</a></li>
                <li><a routerLink="admin/products/list" (clickOutside)="closeMenu(adminMenu)" (click)="closeMenu(adminMenu)">Products</a></li>
              </ul>
            </details>
          </li>
        }
      </div>
    </div>
  
    <div class="navbar-end pe-4 flex items-center">
      <!-- Dropdown for user menu -->
      <div class="dropdown dropdown-end pe-4">
        <div tabindex="0" role="button">

          @if ((isAuthenticated$ | async)) {
            <div class="w-10 h-10 rounded-full flex items-center justify-center bg-blue-500 text-white transition-transform transform hover:scale-105">
              {{ getInitials() }}
            </div>
          } @else {
            <fa-icon [icon]="['fas', 'user']" class="menu-icon"></fa-icon>
          }
        
        </div>

        <!-- Displayed if user is logged out -->
        <ul
          class="dropdown-content menu menu-lg bg-base-100 rounded-box z-10 w-52 p-2 shadow"
          *ngIf="(isAuthenticated$ | async)"
        >
          <li>
            <button class="link" (click)="closeDropDownMenu()">My Orders</button>
          </li>
          <li>
            <button class="link" (click)="logout()">Logout</button>
          </li>
        </ul>

        <!-- Displayed if user is logged in -->
        <ul 
          class="dropdown-content menu menu-lg bg-base-100 rounded-box z-10 w-52 p-2 shadow"
          *ngIf="!(isAuthenticated$ | async)"
        >
          <li>
            <button class="link" routerLink="auth/sign-up" (click)="closeDropDownMenu()">Register</button>
          </li>
          <li>
            <button class="link" routerLink="auth/sign-in" (click)="closeDropDownMenu()">Login</button>
          </li>

        </ul>
      </div>
  
      <!-- Cart icon -->
      <div class="dropdown dropdown-end me-2" routerLink="/cart">
        <div tabindex="0" role="button">
          <div class="indicator">
            <span class="indicator-item badge badge-primary">{{ numberOfItemsInCart }}</span>
            <fa-icon [icon]="['fas', 'cart-shopping']" class="menu-icon"></fa-icon>
          </div>
        </div>
      </div>

    </div>
</div>

  